<main class="createCharacter">
    <h2 class="red"><span class="highlight">Create a Hero</span></h2>
    <form class="white" action="/heroes/{{ hero.id }}?_method=put" method="POST">
             <input type="text" value="{{ hero.heroName }}" name="heroName" placeholder="name"/><br><br>
             <h3 class="title">Gender</h3>
			<select class="delete" name="gender">
                  <option value="unknown">Unknown</option>
                 <option value="Male">male</option>
                 <option value="Female">Female</option>
            </select><br><br>
            <h3 class="title">teacher</h3>
             <select class="delete" name="teacher">
                <option value="yes">yes</option>
                <option value="no">No</option>
            </select><br><br>
            <h3 class="title">Hero Status</h3>
			 <select class="delete" name="heroStatus">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                <option value="Former">Former</option>
            </select><br><br>
			<input type="text" value="{{ hero.img }}" name="img" placeholder="img"/><br><br>
			<input type="text" value="{{ hero.overview }}" name="overview" placeholder="overview"/><br><br>
			<input type="text" value="{{ hero.quirk }}" name="quirk" placeholder="quirk"/><br><br>
             <input type="text" value="{{ hero.quirkDescription }}" name="quirkDescription" placeholder="quirk Description"/><br><br>
			<input class="delete" type="submit" value="Add Hero"/><br>

    </form>
</main>