<main>

<div class="container-show">
    <div class="img-show">
    <img src="{{ hero.img }}"/>
    <a class="create" href="/heroes/{{ hero.id }}/edit">Edit This Hero</a>

<form  method="POST" action="/heroes/{{ hero.id }}?_method=DELETE">
<input class="delete" type="submit" value="Delete hero">
</form>
    </div>
    
    <div class="show-text">

    <div class="red">

    <h2>
        {{ hero.heroName }}
    </h2>

    </div>
    <br>
    <div class="white">
    <h3>Gender</h3>
    

    </div>
    
    <p>
        {{ hero.gender }}
    </p>
    <br>
    <div class="white">
    <h3>teacher</h3>

    </div>
   
    <p>
        {{ hero.teacher }}
    </p>

    <br>
    <div class="white">
    <h3>Hero Status</h3>

    </div>

    <p>
        {{ hero.heroStatus }}
    </p>
    <br>
    <div class="white">
    <h3>Overview</h3>

    </div>

    <p>
        {{ hero.overview }}
    </p>

    <br>
    <div class="white">
    <h3>quirk</h3>

    </div>

    <p>
        {{ hero.quirk }}
    </p>
    <div class="white">

    <h3>quirk Analysis</h3>
    </div>

    <p>
        {{ hero.quirkDescription }}
    </p>

</div>


    </div>





</main>