<main class="createCharacter">
    <h2 class="red"><span class="highlight">Edit Villian</span></h2>
    <form  class="white" action="/villains/{{ villain.id }}?_method=PUT" method="POST">
             <input type="text" name="name" value="{{ villain.name }}" placeholder="name"/><br><br>
             <h3 class="title">Gender</h3>
			<select class="delete" name="gender">
                  <option value="unknown">Unknown</option>
                 <option value="Male">male</option>
                 <option value="Female">Female</option>
            </select><br><br>
            <input type="text" name="legalStatus" value="{{ villain.leagalStatus }}" placeholder="Legal Status"><br><br>
			<input type="text" name="affiliation" value="{{ villain.affiliation }}" placeholder="Affiliation"><br><br>
			<input type="text" name="img" value="{{ villain.img }}" placeholder="img"/><br><br>
			<input type="text" name="overview" value="{{ villain.overview }}" placeholder="overview"/><br><br>
			<input type="text" name="quirk" value="{{ villain.quirk }}" placeholder="quirk"/><br><br>
           <input type="text" name="quirkDescription" value="{{ villain.quirkDescription }}" placeholder="quirk Description"/><br><br>
			<input class="delete" type="submit" value="edit Villian"/><br>

    </form>
</main>