<main class="createChsracter">

<form action="/students/{{ student.id}}?_method=PUT" method="POST">

name:<input type="text" name="name" value="{{ student.name }}" placeholder="name"/><br>
			Gender:<select name="gender">
                  <option value="unknown">Unknown</option>
                 <option value="Male">male</option>
                 <option value="Female">Female</option>
            </select><br>
            class:<input type="text" value="{{ student.class }}" name="class" placeholder="class"/><br>
			school:<input type="text" value="{{ student.school }}" name="school" placeholder="school"/><br>
			img:<input type="text" value="{{ student.img }}" name="img" placeholder="img"/><br>
			overview:<input type="text" value="{{ student.overview }}" name="overview" placeholder="overview"/><br>
			quirk: <input type="text" value="{{ student.quirk }}" name="quirk" placeholder="quirk"/><br>
            quirk Description: <input type="text" value="{{ student.quirkDescription }}" name="quirkDescription" placeholder="quirk Description"/><br>
			<input type="submit" value="Edit student"/><br>

</form>
</main>


