<main>

<div class="student-container-show">
    <div class="student-img-show">
    <img src="{{ student.img}}"/>
    </div>

    <h2>
        {{ student.name }}

    </h2>
    <br>
    <h3>Gender</h3>
    
    <p>
        {{ student.gender }}
    </p>
    <br>
    <h3>School</h3>
   
    <p>
        {{ student.school}}
    </p>

    <br>

    <h3>Class</h3>

    <p>
        {{ student.class }}
    </p>
    <br>

    <h3>Overview</h3>

    <p>
        {{ student.overview }}
    </p>

    <br>
    <h3>quirk</h3>

    <p>
        {{ student.quirk }}
    </p>

    <h3>quirk Analysis</h3>

    <p>
        {{ student.quirkDescription }}
    </p>

</div>

<a href="/students/{{ student.id }}/edit">Edit This student</a>

<form method="POST" action="/students/{{ student.id }}?_method=DELETE">
<input type="submit" value="Delete student">
</form>





</main>