<main>

<div class="container-show">
    <div class="img-show">
    <img src="{{ student.img }}"/>
    </div>
    <div class="show-text">

    <div class="red">

        <h2>
        {{ student.name }}
         </h2>

    </div>    
    
    <br>
    <div class="white">

    <h3>Gender</h3>
    </div>
    
    <p>
        {{ student.gender }}
    </p>
    <br>
    <div class="white">

    <h3>School</h3>
    </div>
   
    <p>
        {{ student.school}}
    </p>

    <br>
    <div class="white">
    <h3>Class</h3>

    </div>

    <p>
        {{ student.class }}
    </p>
    <br>
    <div class="white">
    <h3>Overview</h3>

    </div>

    <p>
        {{ student.overview }}
    </p>

    <br>
    <div class="white">
    <h3>quirk</h3>

    </div>

    <p>
        {{ student.quirk }}
    </p>
    <div class="white">
    <h3>quirk Analysis</h3>

    </div>

    <p>
        {{ student.quirkDescription }}
    </p>

<a href="/students/{{ student.id }}/edit">Edit This student</a>
<form method="POST" action="/students/{{ student.id }}?_method=DELETE">
<input type="submit" value="Delete student">
</form>
    </div>

</div>







</main>