<main>

<div class="student-container-show">
    <div class="student-img-show">
    <img src="{{ students.img}}"/>
    </div>

    <h2>
        {{ students.name}}

    </h2>
    <br>
    <h3>Gender</h3>
    
    <p>
        {{ students.gender }}
    </p>
    <br>
    <h3>School</h3>
   
    <p>
        {{ students.school}}
    </p>

    <br>

    <h3>Class</h3>

    <p>
        {{ students.class }}
    </p>
    <br>

    <h3>Overview</h3>

    <p>
        {{ students.overview }}
    </p>

    <br>
    <h3>quirk</h3>

    <p>
        {{ students.quirk }}
    </p>

    <h3>quirk Analysis</h3>

    <p>
        {{ students.quirkDescription }}
    </p>

</div>

<a href="/newStudent">Create a new student</a>





</main>